html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: url("../img/metal_texture.jpg") repeat;/*seam?*/
}

#container {
    background-color: #0e0f55; /*Fall back color*/
    background: linear-gradient(#0e0f55, #0243a9);
    max-width: 1200px;
    margin: auto;
    padding: 25px 0px;
}

#logo {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    max-width: 606px;
}

#banner img {
    max-width: 1200px;
    width: 100%;
    height: auto;
}
