html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: url("../img/metal_texture.jpg") repeat;/*seam?*/
}

#container {
    background: linear-gradient(#0e0f55, #0243a9);
}
